@{
    ViewData["Title"] = "Tomato Hair Salon";
}

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">

            <!-- Slider Revolution Start -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/bg/bg9.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg9.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme font-playfair text-white font-weight-400 m-0"
                                 id="rs-1-layer-1"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-160']"
                                 data-fontsize="['48']"
                                 data-lineheight="['78']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                Get Your Dreamy
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-theme-colored text-uppercase font-playfair font-weight-600"
                                 id="rs-1-layer-2"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-80']"
                                 data-fontsize="['90']"
                                 data-lineheight="['114']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                Hairstyle
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-right font-raleway text-white"
                                 id="rs-1-layer-3"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['20']"
                                 data-fontsize="['18']"
                                 data-lineheight="['34']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:300;">
                                We Provide Our best opportunity and qualified trainers<br> for best workout yourself as you want
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-1-layer-4"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">                               
                            </div>
                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/bg/bg17.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg17.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-center text-white"
                                 id="rs-2-layer-1"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-140']"
                                 data-fontsize="['72']"
                                 data-lineheight="['100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:400;">
                                <i class="flaticon-salon-scissors-and-comb"></i>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-center text-white"
                                 id="rs-2-layer-2"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-70']"
                                 data-fontsize="['24']"
                                 data-lineheight="['64']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:400;">
                                - Estimated Since 1986 -
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-center font-playfair text-white"
                                 id="rs-2-layer-3"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-10']"
                                 data-fontsize="['72']"
                                 data-lineheight="['100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                We Are With You
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-2-layer-4"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['80']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">                                
                            </div>
                        </li>

                        <!-- SLIDE 3 -->
                        <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/bg/bg15.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg15.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-white text-uppercase font-playfair font-weight-400"
                                 id="rs-3-layer-1"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-160']"
                                 data-fontsize="['42']"
                                 data-lineheight="['78']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                Most Popular Barber
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase font-playfair text-theme-colored font-weight-600 m-0"
                                 id="rs-3-layer-2"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-80']"
                                 data-fontsize="['100']"
                                 data-lineheight="['114']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                Saloon
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme font-raleway text-white"
                                 id="rs-3-layer-3"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['20']"
                                 data-fontsize="['18']"
                                 data-lineheight="['34']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:300;">
                                We Provide Our best opportunity and qualified trainers<br> for best workout yourself as you want
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-3-layer-4"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['90']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">                               
                            </div>
                        </li>

                    </ul>
                </div><!-- end .rev_slider -->
            </div>
            <!-- end .rev_slider_wrapper -->
            <script>
          $(document).ready(function(e) {
            $(".rev_slider").revolution({
              sliderType:"standard",
              sliderLayout: "auto",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                arrows: {
                  style:"gyges",
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                  left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  },
                  right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  }
                },
                bullets: {
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  style:"metis",
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  direction:"horizontal",
                  h_align:"center",
                  v_align:"bottom",
                  h_offset:0,
                  v_offset:30,
                  space:5,
                  tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [680, 768, 960, 720],
              lazyType: "none",
              parallax: {
                  origo: "slidercenter",
                  speed: 1000,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                  type: "scroll"
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
              }
            });
          });
            </script>
            <!-- Slider Revolution Ends -->
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container pt-80 pb-80">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">                       
                        <div class="p-60 pt-40 pb-40" style="background: url('@Url.Content("~/images/about/2.jpg")');">                            
                            <h3 class="text-theme-colored text-uppercase letter-space-2">Opening Hours! <br><span class="text-white">Check Our Class Here</span></h3>
                            <div class="item-html divider">
                                <ul class="list-unstyled text-uppercase text-white mb-20">
                                    <li class="clearfix pt-5 pb-5">
                                        <span class="pull-left mr-30"> Monday - Friday </span>
                                        <div class="value font-weight-800"> 9.00 - 20.00 </div>
                                    </li>
                                    <li class="clearfix pt-5 pb-5">
                                        <span class="pull-left mr-80"> Saturday </span>
                                        <div class="value font-weight-800"> 10.00 - 16.00 </div>
                                    </li>
                                    <li class="clearfix pt-5 pb-5">
                                        <span class="pull-left mr-90"> Sunday </span>
                                        <div class="value font-weight-800"> 9.30 - 18.00 </div>
                                    </li>
                                </ul>
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam velit, a reiciendis deleniti, blanditiis aliquam quam, iste voluptate saepe provident quasi numquam, inventore. Sunt, facilis!.</p>
                                @*<a href="#" class="btn btn-theme-colored btn-flat btn-lg mt-20">Online Reservation</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-sm-60">
                        <i class="flaticon-scissors font-60"></i>
                        <h5 class="letter-space-8 text-uppercase text-theme-colored">Welcome to the salonZone</h5>
                        <h3 class="text-uppercase">obcaecati ad tempora vitae quidem Dolores.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ex quasi, pariatur harum! Tempora esse quae in ea reprehenderit veritatis molestiae atque, incidunt aut explicabo voluptatum, quibusdam temporibus! Quasi, culpa.</p>
                        <ul class="list-inline mt-20">
                            <li><a href="#"><img class="img-circle" src="~/images/hair-style/1.jpg" alt=""></a></li>
                            <li><a href="#"><img class="img-circle" src="~/images/hair-style/2.jpg" alt=""></a></li>
                            <li><a href="#"><img class="img-circle" src="~/images/hair-style/3.jpg" alt=""></a></li>
                            <li><a href="#"><img class="img-circle" src="~/images/hair-style/4.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Divider  -->
    <section class="divider parallax layer-overlay overlay-black" data-bg-img="images/bg/bg2.jpg" data-parallax-ratio="0.7">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="section-content text-center">
                        <h2 class="text-white letter-space-4 font-36">Your Favourite <span class="text-theme-colored">Items</span></h2>
                        <h3 class="text-white text-uppercase font-weight-300 mt-0">I have no regrets about launching Salon. for the life of me, I can't imagine doing anything else</h3>
                        @*<a href="#" class="btn btn-theme-colored btn-flat mt-10 btn-xl text-uppercase"> Contact Us</a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Pricing -->
    <section id="pricing" class="pricing">
        <div class="container pt-70 pb-70 pb-sm-50">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase title">Our <span class="text-black font-weight-300">Pricing</span></h2>
                        <p class="text-uppercase letter-space-4">Best Hair Care Theme on Themeforest.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-uppercase">Join our gymzone club </h3>
                        <h5 class="letter-space-4 font-weight-400 text-theme-colored">Lorem ipsum dolor sit.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ullam assumenda deserunt!</p>
                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"></a>
                        <img class="img-fullwidth mt-40" src="~/images/about/5.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pricing-table mb-30">
                                    <div class="package-type">
                                        <div class="thumb pull-left mr-20 mb-20">
                                            <img class="img-circle border-rounded border-8px" width="150" src="~/images/pricing/s1.jpg" alt="">
                                        </div>
                                        <div class="price pt-30">
                                            <h5 class="text-uppercase letter-space-2">Woman's Haircut</h5>
                                            <span class="font-weight-800 font-36 text-center text-theme-colored">$80</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti animi voluptatibus quaerat at, dicta quasi officia cupiditate enim, consequatur?</p>
                                            <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing-table mb-30">
                                    <div class="package-type">
                                        <div class="thumb pull-left mr-20 mb-20">
                                            <img class="img-circle border-rounded border-8px" width="150" src="~/images/pricing/s2.jpg" alt="">
                                        </div>
                                        <div class="price pt-30">
                                            <h5 class="text-uppercase letter-space-2">Woman's Haircut</h5>
                                            <span class="font-weight-800 font-36 text-center text-theme-colored">$45</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti animi voluptatibus quaerat at, dicta quasi officia cupiditate enim, consequatur?</p>
                                            <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing-table mb-30">
                                    <div class="package-type">
                                        <div class="thumb pull-left mr-20 mb-20">
                                            <img class="img-circle border-rounded border-8px" width="150" src="~/images/pricing/s3.jpg" alt="">
                                        </div>
                                        <div class="price pt-30">
                                            <h5 class="text-uppercase letter-space-2">Woman's Haircut</h5>
                                            <span class="font-weight-800 font-36 text-center text-theme-colored">$75</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti animi voluptatibus quaerat at, dicta quasi officia cupiditate enim, consequatur?</p>
                                            <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing-table mb-30">
                                    <div class="package-type">
                                        <div class="thumb pull-left mr-20 mb-20">
                                            <img class="img-circle border-rounded border-8px" width="150" src="~/images/pricing/s4.jpg" alt="">
                                        </div>
                                        <div class="price pt-30">
                                            <h5 class="text-uppercase letter-space-2">Woman's Haircut</h5>
                                            <span class="font-weight-800 font-36 text-center text-theme-colored">$55</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti animi voluptatibus quaerat at, dicta quasi officia cupiditate enim, consequatur?</p>
                                            <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Gallery & -->
    <section id="gallery" class="bg-lighter">
        <div class="container-fluid pt-70 pb-0">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase title">Our <span class="text-black font-weight-300">Gallery</span></h2>
                        <p class="text-uppercase letter-space-4">Best Hair Care Theme on Themeforest.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Gallery Grid -->
                        <div id="grid" class="gallery-isotope grid-4 gutter clearfix">
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item photography">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/1.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a data-lightbox="image" href="~/images/gallery/1.jpg"><i class="fa fa-plus"></i></a>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="hover-link" data-lightbox="image" href="~/images/gallery/1.jpg">View more</a>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item branding">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/2.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="hover-link" data-lightbox="image" href="~/images/gallery/2.jpg">View more</a>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item design">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/3.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="hover-link" data-lightbox="image" href="~/images/gallery/3.jpg">View more</a>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item photography">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/4.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="fa fa-youtube-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item branding">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/5.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item design">
                                <div class="thumb">
                                    <div class="flexslider-wrapper">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <li><a href="~/images/gallery/1.jpg" title="Portfolio Gallery - Photo 1"><img src="~/images/gallery/1.jpg" alt=""></a></li>
                                                <li><a href="~/images/gallery/2.jpg" title="Portfolio Gallery - Photo 2"><img src="~/images/gallery/2.jpg" alt=""></a></li>
                                                <li><a href="~/images/gallery/3.jpg" title="Portfolio Gallery - Photo 3"><img src="~/images/gallery/3.jpg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="#"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item branding">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/7.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item branding">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="~/images/gallery/8.jpg" alt="project">
                                    <div class="overlay-shade"></div>
                                    <div class="text-holder text-center">
                                        <h5 class="title">Hair Style Title</h5>
                                    </div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                        </div>
                        <!-- End Portfolio Gallery Grid -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section:  Services-->
    <section id="services">
        <div class="container pt-70 pb-20 pb-sm-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase title">Special <span class="text-black font-weight-300"> Services</span></h2>
                        <p class="text-uppercase letter-space-4">Best Hair Care Theme on Themeforest.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center pl-0 pr-0 mb-20">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-female-hair-shape-and-face-silhouette text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Make Up</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center pl-0 pr-0 mb-20">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-razors text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Nails Design</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center pl-0 pr-0 mb-20">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-hairdresser-washing-the-hair-of-a-client-with-bubbles-shampoo text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Beauty services </strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center pl-0 pr-0 mb-20">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-scissors-and-comb text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Moustache Trim</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center mb-sm-20">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-hairdresser-with-combs text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Moustache Trim</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center mb-sm-20">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-long-female-hair-tincture text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Moustache Trim</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center mb-sm-0">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-hair-straightener-on-long-female-hair text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Moustache Trim</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="icon-box text-center mb-sm-0">
                            <a href="#" class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl">
                                <i class="flaticon-salon-hairdryer-and-comb text-white"></i>
                            </a>
                            <h4 class="icon-box-title mt-15 mb-10 letter-space-4 text-uppercase"><strong>Moustache Trim</strong></h4>
                            <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: trainer -->
    <section id="experts" class="bg-lighter">
        <div class="container pb-0">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase title">Our hair <span class="text-black font-weight-300">Expert</span></h2>
                        <p class="text-uppercase letter-space-4">Best Hair Care Theme on Themeforest.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row ml-md-0">
                    <div class="owl-carousel-3col" data-nav="true">
                        <div class="item">
                            <div class="trainer-item">
                                <div class="trainer-thumb"> <img src="~/images/team/1.png" alt="" class="img-fullwidth img-responsive"> </div>
                                <div class="trainer-info">
                                    <div class="social-network">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer-biography">
                                        <h3 class="text-white">Steve Smith</h3>
                                        <h5 class="text-white">Master / English</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="trainer-item">
                                <div class="trainer-thumb"> <img src="~/images/team/2.png" alt="" class="img-fullwidth img-responsive"> </div>
                                <div class="trainer-info">
                                    <div class="social-network">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer-biography">
                                        <h3 class="text-white">Steve Smith</h3>
                                        <h5 class="text-white">Master / English</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="trainer-item">
                                <div class="trainer-thumb"> <img src="~/images/team/3.png" alt="" class="img-fullwidth img-responsive"> </div>
                                <div class="trainer-info">
                                    <div class="social-network">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer-biography">
                                        <h3 class="text-white">Steve Smith</h3>
                                        <h5 class="text-white">Master / English</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="trainer-item">
                                <div class="trainer-thumb"> <img src="~/images/team/4.png" alt="" class="img-fullwidth img-responsive"> </div>
                                <div class="trainer-info">
                                    <div class="social-network">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer-biography">
                                        <h3 class="text-white">Steve Smith</h3>
                                        <h5 class="text-white">Master / English</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="trainer-item">
                                <div class="trainer-thumb"> <img src="~/images/team/5.png" alt="" class="img-fullwidth img-responsive"> </div>
                                <div class="trainer-info">
                                    <div class="social-network">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer-biography">
                                        <h3 class="text-white">Steve Smith</h3>
                                        <h5 class="text-white">Master / English</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: News & Blog -->
    <section id="blog">
        <div class="container"></div>
    </section>

    <!-- Section: Contact -->
    <section id="contact" class="bg-lighter">
        <div class="container pt-60 pb-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase title">Visit <span class="text-black font-weight-300">Us</span></h2>
                        <p class="text-uppercase letter-space-4">Shop 3, Ponte City Building</p>
                    </div>
                </div>
            </div>


            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">                       
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.2098421176324!2d28.05423641502966!3d-26.18985128344417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c2f59235e0b%3A0xefceef4e8dcde6bc!2s1%20Lily%20Ave%2C%20Berea%2C%20Johannesburg%2C%202198!5e0!3m2!1sen!2sza!4v1612174928275!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>                   
                </div>
            </div>

        </div>
    </section>
</div>
<!-- end main-content -->
